<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <div id="app">
        <!-- v-for 与 v-if 一同使用 -->
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo }}
        </li>

        <!-- 不推荐在同一元素使用v-if 和 v-for 这意味着v-if 将分别重复运行于每个 -->
        <!-- v-for循环中，当你只想为部分项渲染节点时，这种优先级的机制十分有用 -->
        <ul v-if="todos.length">
            <li v-for="todo in todos">
                {{todo }}
            </li>
        </ul>
        <p v-else >No todos left! </p>
    </div>

    <script src="./node_modules/./vue/dist/vue.js"></script>

    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                todos: [
                    {isComplete: true, name: '吃法'},
                    {isComplete: false, name: '睡觉'},
                    {isComplete: true, name: '打豆豆'}
                ]
            }
        })

    </script>
</body>
</html>